/* -------- Course Homepage Stylesheet --------- */

/* Type Selector */
body {
    background-color: yellow;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* ID Selector */
  #main-heading {
    color: blue;
    text-shadow: 1px 1px #000000;
  }
  
  #second-heading {
    color: blue;
    text-shadow: 1px 1px #000000;
    margin-bottom: auto;
  }

  /* Class Selector */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box; /* Add border box */
    padding: 10px;
  }
  
  /* Logo styles */
/* Logo styles */
.logo {
  width: 500px; 
  margin: 2.3px ;
}

#UALR-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px; 
  height: auto;
}

.indented-paragraph {
  text-indent: 5em;
  color: darkslateblue; /* Apply color to the parent container */
  margin: 50px;
}

.indented-paragraph p,
.indented-paragraph h3 {
  color: inherit; /* Inherit color from the parent */
}
 
  /* Navigation list styles */
  .primary {
    border: 2px solid blue;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 40px; /* Adjust this value to change the roundness of the corners */
  }
  
  .primary ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  /* Navigation list item styles */
  .primary ul li {
    margin-bottom: 10px;
  }
  
  #colophon {
    text-align: center;
  }

  #colophon h6 {
    margin: 0;
    padding: 0;
    line-height: 1;
  }

/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:yellow;
  border: 2px solid #000000;
  box-sizing: border-box;
  min-width: 160px;
  z-index: 1;
  border-radius: 1px; /* Adjust this value to change the roundness of the corners */
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: gold;
}

.dropdown:hover .dropdown-content {
  display: block;
}


